:root {
    --primary: rgb(44, 77, 187);
    --secondary: rgb(121, 2, 115);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header {
    padding: 40px;
    text-align: center;
}

button {
    background: radial-gradient(circle, rgb(147, 140, 240) 0%, rgba(56, 33, 187, 0.954) 100%);
    border-radius: 8px;
    cursor: pointer;
    font-size: 2em;
    text-align: center;
    color: var(--white)
}

.p-menu {
    font-size: large;
    
}

.header-content {
    color: var(--primary);
    line-height: 25px;
    margin: 0 10px;
    font-size: large;
    font-weight: bold;
}

.quiz-box {
    border: 3px solid var(--primary);
    border-radius: 10px;
    width: 800px;
    max-width: 80%;
    padding: 20px;
    text-align: center;
}

.hs-link:hover {
    color: var(--secondary);
}


/* used class to hide content */
.hide {
    display: none;
}